.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    border:2px solid black;    
  }
.werte{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.wert{
    text-align: center;
    margin: 10px;
}
.card {
    max-width: 400px;
    margin-right: 5%;
}
.mat-card-header{
    justify-content: center;
}
