<div class="wrapper">
    <div class="content">
        <h2>Grenzwerte</h2>
        <table border="1">
            <tbody>
            <tr>
            <td>&nbsp;</td>
            <td align="center">
                <div class="circle" style="background-color: #32CD32"></div>
            </td>
            <td align="center">
                <div class="circle" style="background-color: #FF7F50"></div>
            </td>
            <td align="center">
                <div class="circle" style="background-color: #FF0000"></div>
            </td>
            <td align="center">
                <div class="circle" style="background-color: rgb(4, 0, 255)"></div>
            </td>
            </tr>
            <tr>
            <td>Feinstaub</td>
            <td><10 µg/m3</td>
            <td>>10 µg/m3</td>
            <td>>20 µg/m3</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
            <td>Ozon</td>
            <td><120 µg/m3</td>
            <td>>120 µg/m3</td>
            <td>>180 µg/m3</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
            <td>Stickstoffdioxid</td>
            <td><20 µg/m3</td>
            <td>>20 µg/m3</td>
            <td>>30 µg/m3</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
            <td>Lufttemperatur</td>
            <td><30</td>
            <td>>30</td>
            <td>>37</td>
            <td><0</td>
            </tr>
            </tbody>
        </table>
        <p>
            <b>Feinstaub </b> <a href="https://www.bafu.admin.ch/bafu/de/home/themen/luft/fachinformationen/luftqualitaet-in-der-schweiz/feinstaub.html">Bundesamt für Umwelt</a>
        </p>
        <p>
            <b>Ozon </b> <a href="https://www.bafu.admin.ch/dam/bafu/de/dokumente/luft/fachinfo-daten/Auswirkungen-der-Ozonbelastung.PDF.download.PDF/Faktenblatt_O3_Auswirkungen_2018_D.PDF" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.bafu.admin.ch/dam/bafu/de/dokumente/luft/fachinfo-daten/Auswirkungen-der-Ozonbelastung.PDF.download.PDF/Faktenblatt_O3_Auswirkungen_2018_D.PDF&amp">Bundesamt für Umwelt (PDF Download)</a>
        </p>
        <p>
            <b>Stickstoffdioxid </b> <a href="https://www.bafu.admin.ch/bafu/de/home/themen/chemikalien/schadstoffglossar/stickstoffoxide.html">Bundesamt für Umwelt</a>
        </p>
        <p>
            <b>Lufttemeratur </b> <a href="https://www.bag.admin.ch/bag/de/home/gesund-leben/umwelt-und-gesundheit/hitze.html">Bundesamt für Gesundheit</a>
        </p>
    </div>
</div>
