.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 3%;
    margin-left: 5%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.particulate-matter{
    margin-top: 20px;
}
.ozon{
    margin-top: 20px;
}
.stickstoff{
    margin-top: 20px;
}
.temp{
    margin-top: 20px;
}
.grenzwerte{
    margin-bottom: 5%;
}

.disclaimer{
    font-size: 12px;
}
